@import "var.scss";
@import "global.scss";

.character-page {
  margin-top: $header-height + 30px;
  align-self: center;
  padding-bottom: 50px;
  min-width: 600px;
  background-color: $color-white;

  .title-text {
    font-size: xx-large;
  }
  .image-cg{
    width: 100%;
  }
}

.input {
  width: 200px;
}

.text-item {
  .b {
    font-size: 20px;
    font-weight: bold;
  }
  .c {
    font-size: 18px;
  }
}
